{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[0]}}")
</script>
{% endif %}
{% endwith %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <form name="sForm" id="sForm" method="POST" action='/admin'>
        <table>
            <colgroup>
                <col width="60px">
                <col width="80px">
                <col width="80px">
                <col width="80px">
                <col width="80px">
                <col width="220px">
                <col width="80px">
                <col width="120px">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td colspan="2">
                    <div class="cols">
                        <input type="text" name="pYear" id="pYear" value="2021" maxlength="4" style="ime-mode:disabled">
                        <select name="pTerm" id="pTerm">
                            <option value="spring">spring</option>
                            <option value="summer">summer</option>
                            <option value="fall" selected="">fall</option>
                            <option value="winter">winter</option>
                        </select>
                    </div>
                </td>
                <!--                <th>캠퍼스</th>-->
                <!--                <td>-->
                <!--                    <select name="pCampus" id="pCampus" onchange="fnCourDiv()">-->
                <!--                        <option value="1" selected="">서울</option>-->
                <!--                        <option value="2">세종</option>-->
                <!--                    </select>-->
                <!--                </td>-->
                <!--                <th>대학구분</th>-->
                <!--                <td>-->
                <!--                    <select name="pGradCd" id="pGradCd" onchange="fnCourDiv()">-->
                <!--                        <option value="0136" selected="">대학</option>-->
                <!--                        <option value="0309">대학원</option>-->
                <!--                    </select>-->
                <!--                </td>-->
                <th class="isu">단과대학전공/교양</th>
                <td class="isu" colspan="2">
                    <div class="cols">
                        <!--                        <select name="pCourDiv" id="pCourDiv" onchange="fnCourDiv()">-->

                        <!--                            <option value="00">전공</option>-->
                        <!--                            <option value="24">학문의기초</option>-->
                        <!--                            <option value="01">교양</option>-->
                        <!--                            <option value="30">교직</option>-->
                        <!--                            <option value="41">군사학</option>-->
                        <!--                            <option value="71">평생교육사</option>-->
                        <!--                        </select>-->
                        <select name="pCol" id="pCol" onchange="fnCol()" style="display: block;">
                            <option value="간호대학">간호대학</option>
                            <option value="경영대학">경영대학</option>
                            <option value="공과대학">공과대학</option>
                            <option value="국제학부">국제학부</option>
                            <option value="디자인조형학부">디자인조형학부</option>
                            <option value="문과대학">문과대학</option>
                            <option value="미디어학부">미디어학부</option>
                            <option value="보건과학대학">보건과학대학</option>
                            <option value="사범대학">사범대학</option>
                            <option value="생명과학대학">생명과학대학</option>
                            <option value="스마트보안학부">스마트보안학부</option>
                            <option value="심리학부">심리학부</option>
                            <option value="의과대학">의과대학</option>
                            <option value="이과대학">이과대학</option>
                            <option value="정경대학">정경대학</option>
                            <option value="정보대학" selected="">정보대학</option>
                            <option value="KU-KIST융합대학원(관)">KU-KIST융합대학원(관)</option>
                            <option value="법학전문대학원(관)">법학전문대학원(관)</option>
                            <option value="정보보호대학원(관)">정보보호대학원(관)</option>
                            <option value="교양">교양</option>
                        </select>
                        <!--                        <select name="pDept" id="pDept" style="display: block;">-->
                        <!--                            <option value="6666">뇌인지과학융합전공</option>-->
                        <!--                            <option value="5965">소프트웨어벤처융합전공</option>-->
                        <!--                            <option value="6545">인공지능융합전공</option>-->
                        <!--                            <option value="5944">정보보호 융합전공</option>-->
                        <!--                            <option value="5722" selected="">컴퓨터학과</option>-->
                        <!--                        </select>-->
                        <select name="pGroupCd" id="pGroupCd" style="display:none;" disabled=""></select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>학점</th>
                <td><input type="text" name="pCredit" id="pCredit" maxlength="3" style="ime-mode:disabled"></td>
                <th>요일</th>
                <td>
                    <select name="pDay" id="pDay">
                        <option value="">전체--</option>
                        <option value="monday">월</option>
                        <option value="tuesday">화</option>
                        <option value="wednesday">수</option>
                        <option value="thursday">목</option>
                        <option value="friday">금</option>
                        <option value="saturday">토</option>
                        <option value="sunday">일</option>
                    </select>
                </td>
                <th>교시</th>
                <td>
                    <div class="cols">
                        <select id="pStartTime" name="pStartTime">
                            <option value="">전체--</option>

                            <!--                            <option>-1</option>-->

                            <!--                            <option>0</option>-->

                            <option>1</option>

                            <option>2</option>

                            <option>3</option>

                            <option>4</option>

                            <option>5</option>

                            <option>6</option>

                            <option>7</option>

                            <option>8</option>

                            <option>9</option>

                            <option>10</option>

                            <option>11</option>

                            <!--                            <option>12</option>-->

                            <!--                            <option>13</option>-->

                            <!--                            <option>14</option>-->

                            <!--                            <option>15</option>-->

                            <!--                        </select>-->
                            <!--                        <span class="unit">~</span>-->
                            <!--                        <select id="pEndTime" name="pEndTime">-->
                            <!--                            <option value="">전체&#45;&#45;</option>-->

                            <!--                            <option>-1</option>-->

                            <!--                            <option>0</option>-->

                            <!--                            <option>1</option>-->

                            <!--                            <option>2</option>-->

                            <!--                            <option>3</option>-->

                            <!--                            <option>4</option>-->

                            <!--                            <option>5</option>-->

                            <!--                            <option>6</option>-->

                            <!--                            <option>7</option>-->

                            <!--                            <option>8</option>-->

                            <!--                            <option>9</option>-->

                            <!--                            <option>10</option>-->

                            <!--                            <option>11</option>-->

                            <!--                            <option>12</option>-->

                            <!--                            <option>13</option>-->

                            <!--                            <option>14</option>-->

                            <!--                            <option>15</option>-->

                            <!--                        </select>-->
                            <!--                        <button type="button" class="btnGyosi" onclick="fnViewTime()">교시확인표</button>-->
                    </div>
                </td>
                <th>담당교수</th>
                <td><input type="text" name="pProf" id="pProf" style="ime-mode:active;"></td>
            </tr>
            <tr>
                <th>학수번호</th>
                <td><input style="ime-mode:disabled;" type="text" id="pCourCd" name="pCourCd" maxlength="7"></td>
                <th>분반</th>
                <td><input style="ime-mode:disabled;" type="text" id="pCourCls" name="pCourCls" maxlength="2"></td>
                <th>교과목명</th>
                <td colspan="3"><input type="text" name="pCourNm" id="pCourNm"></td>
                <td class="search">
                    <button type="submit" name="submit" value="submit" id="btnSearch" class="btn-sub">조회</button>
                    <!--                    <button type="button" id="btnReset" onclick="javascript:fnReset()">초기화</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="strYear" id="strYear" value="2021">
        <input type="hidden" name="strTerm" id="strTerm" value="2W">
        <input type="hidden" name="strUserType" id="strUserType" value="RL1 ">
        <input type="hidden" name="strChasu" id="strChasu" value="">
    </form>
    <!-- <div id="warning" style="display: inline-flex;color:#fff;text-align:center;height:30px;width:80%" class="is-green"></div> -->
</div>

<h3>과목 추가</h3>
<div>
    <form action="/admin" name="insert" method="POST">
        <tr>
            <th>개설년도</th>
            <td><input type="text" name="year"></td>
            <th>개설학기</th>
            <td>
                <select name="semester" id="semester">
                    <option value="spring">spring</option>
                    <option value="summer">summer</option>
                    <option value="fall" selected="">fall</option>
                    <option value="winter">winter</option>
                </select>
            </td>
            <th>학수번호</th>
            <td><input type="text" name="course_id"></td>
            <th>분반</th>
            <td><input type="text" name="section_id"></td>
            <th>교과목명</th>
            <td><input type="text" name="course_name"></td>
        </tr>
        <br>
        <tr>
            <th>이수구분</th>
            <td>
                <select name="type" id="type">
                    <option value="major_required">전공필수</option>
                    <option value="major_elective">전공선택</option>
                    <option value="elective">교양</option>
                </select></td>
            <th>개설학과</th>
            <td><input type="text" name="dept_name"></td>
            <th>담당교수</th>
            <td><input type="text" name="instructor_id"></td>
            <th>학점</th>
            <td><input type="text" name="credits"></td>
            <th>시간</th>
            <td><input type="text" name="hour"></td>
        </tr>
        <br>
        <tr>
            <th>요일</th>
            <td>
                <select name="day" id="day">
                    <option value=""></option>
                    <option value="monday">월</option>
                    <option value="tuesday">화</option>
                    <option value="wednesday">수</option>
                    <option value="thursday">목</option>
                    <option value="friday">금</option>
                    <option value="saturday">토</option>
                    <option value="sunday">일</option>
                </select></td>
            <th>교시</th>
            <td>
                <select id="time" name="time">
                    <option value=""></option>

                    <option>1</option>

                    <option>2</option>

                    <option>3</option>

                    <option>4</option>

                    <option>5</option>

                    <option>6</option>

                    <option>7</option>

                    <option>8</option>

                    <option>9</option>

                    <option>10</option>

                    <option>11</option>
                </select>
            </td>
            <th>선수과목</th>
            <td><input type="text" name="prereq_id"></td>
            <th>건물</th>
            <td><input type="text" name="building"></td>
            <th>호수</th>
            <td><input type="text" name="building_address"></td>
        </tr>
        <button type="submit" name="submit2" value="submit2">과목 추가</button>
    </form>
</div>

<h3>과목 삭제</h3>
<div>
    <form action="/admin" name='delete' method="POST" >
        <tr>
            <th>개설년도</th>
            <td><input type="text" name="dyear"></td>
            <th>개설학기</th>
            <td>
                <select name="dsemester" id="dsemester">
                    <option value="spring">spring</option>
                    <option value="summer">summer</option>
                    <option value="fall" selected="">fall</option>
                    <option value="winter">winter</option>
                </select>
            </td>
            <th>학수번호</th>
            <td><input type="text" name="dcourse_id"></td>
            <th>분반</th>
            <td><input type="text" name="dsection_id"></td>
        </tr>
        <button type="submit" name="delete" value="delete">과목 삭제</button>
    </form>
</div>

<table border="1">
    <thead>
    <th>학수번호</th>
    <th>분반</th>
    <th>이수구분</th>
    <th>개설학과</th>
    <th>교과목명</th>
    <th>담당교수</th>
    <th>학점(시간)</th>
    <th>강의시간</th>
    <th>선수과목</th>
    </thead>

    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{course['course_id']}}</td>
        <td>{{course['section_id']}}</td>
        <td>{{course['type']}}</td>
        <td>{{course['dept_name']}}</td>
        <td>{{course['course_name']}}</td>
        <td>{{course['instructor_name']}}</td>
        <td>{{course['credits']}}({{course['hour']}})</td>
        <td>
            {% for timeslot in course['timeslot'] %}
            {{timeslot}}<br>
            {% endfor %}
        </td>
        <td>
            {% for prereq in course['prereq'] %}
            {{prereq}}<br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
{% endblock %}